.tableContainer {
      width: 100%;
      border-collapse: collapse;
}

.tableContainer th,
.tableContainer td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
}

.tableContainer th {
      background-color: #007bff;
      color: white;
}

.surveyDone {
      /* Define styles for surveyDone class */
      /* For example: */
      background-color: green;
      color: white;
}

.action {
      display: flex;
      align-items: center;
}

.surveyDoneAction button,
.surveyDoneAction a,
.action button,
.action a {
      border: none;
      background: none;
      cursor: pointer;
}

.surveyDoneAction button img,
.surveyDoneAction a img,
.action button img,
.action a img {
      width: 32px;
      height: 32px;
      margin-right: 5px;
      /* Adjust margin as needed */
}

.surveyDoneAction {
      display: flex;
      align-items: center;
      background-color: green;


}