.container {
      height: auto;
      width: 90vw;
      margin-top: 3rem;

}

.btnContainer {
      margin-top: 2rem;
      display: flex;
      align-items: center;

}

.btnCol {
      display: flex;
      justify-content: center;
      align-items: center;
}

.btnSpan {
      height: 55px;
      width: 117px;
      border-radius: 5px;
      background-color: rgb(33, 144, 241);
}

.btnCol button {
      height: 50px;
      width: 116px;
      border: none;
      border-radius: 5px;
      color: whitesmoke;
      background-color: darkblue;
      cursor: pointer;
}