.checkbuttonContainer form {
    display: flex;
    align-items: center;
    gap: 6px;
}

.radio {
    display: none;
}


.btnSpan {
    height: 55px;
    width: auto;
    border-radius: 5px;
    background-color: #2190f1;
}

.btnSpanLabel {
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: whitesmoke;
    background-color: darkblue;
    cursor: pointer;
}

.btnSpanLabelchecked {
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: var(--text-color);
    background-color: skyblue;
    cursor: pointer;
}

.btnSpanchecked {
    height: 55px;
    width: auto;
    border-radius: 5px;
    background-color: darkblue;
}