.container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: var(--globalPadding);
}


.imgContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      /* Adjust the gap as needed */
}

.imgContainer img {
      width: 100px;
      height: auto;
      cursor: pointer;
}

.namebar,
.locationbar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--globalPadding);
      font-size: var(--formTextSize);
      color: var(--white);
      background-color: var(--skyblue);
}