.container {
      /* margin: 5px; */
      /* padding: 5px; */
      margin-top: var(--globalMargin);
      margin-bottom: var(--globalMargin);
      height: auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.text {
      width: 250px;
      font-size: var(--formTextSize);
}

.buttons {
      display: flex;
      justify-content: center;
      align-items: center;
}

.buttons input {
      display: none;
}

.buttons label {
      margin-right: var(--globalMargin);
      height: 30px;
      width: 40px;
      font-size: var(--formTextSize);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

}

.label_not_selected {
      color: var(--white);
      background-color: var(--darkblue);
}

.labelNo {
      background-color: red;
      color: var(--white);
}


.labelYes {
      background-color: green;
      color: var(--white);
}