.text {
      color: var(--text-color);
      margin: var(--globalMargin);
}

.tableHead {
      width: 100%;
}

.tableHead th {
      color: var(--white);
      background-color: var(--text-color-skyblue);
}

.tableBody {
      width: auto;
}

.tableBody .hthSupervisorCompleted,
.tableBody .completed {
      background-color: var(--green);
}


.tableBody .ongoing {
      background-color: var(--skyblue);
}

.tableBody .hthSupervisorUpcoming,
.tableBody .upcoming {
      background-color: var(--text-color);
      color: var(--white);
}

/* /////////////////////////////////////////////////////////// */

.tableContainer2 {
      width: 100%;
      margin: var(--globalMargin-half);

}

.tableContainer2 th {
      color: var(--white);
      background-color: var(--darkblue);
}

.tableContainer2 td {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      background-color: var(--skyblue);
}